<div class="page-header">
  <%= link_to new_drife_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Drive
  <% end %>
  <h1>Listing drives</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Letra</th>
            <th>Ruta</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @drives) do |drife| %>
            <td><%= drife.letra %></td>
            <td><%= drife.ruta %></td>
            <td><%= link_to 'Show', drife %></td>
        <td><%= link_to 'Edit', edit_drife_path(drife) %></td>
        <td><%= link_to 'Destroy', drife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
