<%= form_for((setup_pc(@pc)), html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @pc.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@pc.errors.count, "error") %> prohibited this pc from being saved:</h4>

      <ul>
      <% @pc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nombre, class: "form-control", autofocus: true, placeholder: 'Nombre del computador' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descripcion,"Descripción", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :descripcion, class: "form-control", placeholder: 'Funciones del computador' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :encargado, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :encargado, class: "form-control", placeholder: 'Nombre de la persona encargada' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :area,"Área", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :area, class: "form-control", placeholder: 'Ubicación del equipo' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :codigoContable, "Codigo Contable", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :codigoContable, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :factura, "Factura de compra", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :factura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fechaCompra,"Fecha de Compra", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :fechaCompra, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :garantia,"Garantía (Meses)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :garantia, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marca, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :marca, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :so, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :so, class: "form-control", placeholder: "Sistema Operativo - Ej. Windows 7 Professional" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :serialSo,"Serial SO", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :serialSo, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :office, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office, class: "form-control", placeholder: "Ej. Office 2013 Home & Business" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :serialOffice,"Serial Office", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :serialOffice, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :program, "Programas Instalados", class: "col-sm-2 control-label" %>
    <div id="tabs" class="col-sm-10">
      <ul>
        <li><a href="#tabs-1">Listado</a></li>
        <li><a href="#tabs-2">Agregar +</a></li>
      </ul>
      <div id="tabs-1">
        <div class="form-group">
          <% if @programs.count > 0 %>
            <%= f.collection_check_boxes(:program_ids, @programs, :id, :program_with_version) do |b|%>
              <span class="col-sm-6">
                <%= b.check_box %>
                <%= b.label %>
              </span>
            <% end %>
          <% else %>
            <div class="col-sm-12">
              <h1 class="text-center"><span class="glyphicon glyphicon-inbox"></span></h1>
              <h4 class="text-center">No hay programas registrados<!--<br> Ingrese a la pestaña "Agregar +"--></h4>
            </div>
          <% end %>
        </div>
      </div>
      <div id="tabs-2">
        <p>
          <br>
          <table class="table">
            <tr>
              <th>Nombre</th>
              <th>Versión</th>
              <th>Nro de Licencias</th>
            </tr>
            <%= f.fields_for :installs do |m| %>
              <%= m.fields_for :program do |p| %>
                <tr>
                  <td><%= p.text_field :nombre, class: "form-control", placeholder: "Ej. Windows"  %></td>
                  <td><%= p.text_field :version, class: "form-control", placeholder: "Ej. 7 Professional"  %></td>
                  <td><%= p.text_field :licencias, class: "form-control", placeholder: "Ej. 15"  %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :procesador, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :procesador, class: "form-control", placeholder: "Marca del procesador y referencía Ej. Intel Corei3" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :velocidad,"Velocidad (Ghz)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :velocidad, class: "form-control", placeholder: "Velocidad del procesador Ej. 3.1" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ram,"Memoria RAM (Mb)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :ram, class: "form-control", placeholder: "Ej. 8000" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :discoDuro,"Disco Duro (Gb)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :discoDuro, class: "form-control", placeholder: "Ej. 1000" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :antivirus, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :antivirus, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cdrom, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :cdrom, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :d312,"Drive 3 1/2", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :d312, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lectorMemorias, "Lector de Memorias", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :lectorMemorias, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :internet, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :internet, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ultimoMantenimiento, "Último Mantenimiento", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :ultimoMantenimiento, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :frecuencia,"Frecuencía (Meses)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :frecuencia, class: "form-control", placeholder:"Cada cuanto se hace mantenimiento Ej. 6 " %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :usuarioComputador,"Nombre de Usuario", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :usuarioComputador, class: "form-control", placeholder: "Ej. empresa\\nombre_de_usuario" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :claveComputador,"Contraseña de usuario", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :claveComputador, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :drivers,"Drivers (Captura de pantalla)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :drivers, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
