<div class="page-header">
  <%= link_to new_outlook_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Outlook
  <% end %>
  <h1>Listing outlooks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Correo</th>
            <th>Clave</th>
            <th>Nombre</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @outlooks) do |outlook| %>
            <td><%= outlook.correo %></td>
            <td><%= outlook.clave %></td>
            <td><%= outlook.nombre %></td>
            <td><%= link_to 'Show', outlook %></td>
        <td><%= link_to 'Edit', edit_outlook_path(outlook) %></td>
        <td><%= link_to 'Destroy', outlook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
